* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'MedievalSharp', sans-serif;
  font-size: small;
}

h1 {
  font-size: xx-large;
}

h2 {
  font-size: x-large;
}

body {
  width: 100%;
}

/* header */
.header {
  background-color: rgb(50, 167, 145);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  height: 80px;
}

.input-txt {
  height: 50px;
  border-radius: 8px;
  padding-left: 10px;
  background-color: white;
  color: rgb(129, 131, 133);
  border: 1px solid rgb(120, 40, 190);
}

header .input-txt {
  max-width: 150px;
  margin: 5px;
  height: 40px;
  border: 1px solid white;
}

main {
  margin: 3%;
  display: flex;
  justify-content: space-around;
}

.trybewarts-header-logo {
  width: 60px;
}

.trybewarts-login {
  display: flex;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
}

#titulo-formulario {
  text-align: center;
}

.container-nomeSobrenome {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.container-nomeSobrenome div {
  flex-direction: column;
  text-align: center;
}

.container-nomeSobrenome input {
  flex-grow: 1;
  margin: 2px;
}

.container-emailCasa {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 15px;
}

.container-emailCasa input {
  margin: 2px;
  max-width: 330px;
}

#house , #input-email {
  flex-grow: 1;
}

.avaliacao {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: space-between;
}

.container-textArea {
  display: flex;
  flex-direction: column;
  position: relative;
}

.container-checkbox {
  display: flex;
  align-items: center;
}

.container-textArea #counter {
  position: absolute;
  top: 80%;
  right: 1%;

}

#textarea {
  background-color: white;
  border-radius: 8px;
  border: 1px solid rgb(120, 40, 190);
}

#label-infos {
  padding: 10px;
}

.btn-entrar {
  background-color: rgb(120, 40, 190);
  color: white;
  border-radius: 8px;
  width: 150px;
  height: 35px;
  margin: 5px;
}

#submit-btn {
  background-color: rgb(120, 40, 190);
  border-radius: 5px;
  font-weight: 700;
}

.container-familiaVontaderAprender {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.container-familia {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.container-Aprender {
  display: flex;
  flex-direction: column;
}

#label-family {
  margin-bottom: 10px;
}

.container-opcao {
  display: flex;
  justify-content: space-between;
  max-width: 300px;
  height: 70px;
  margin-top: 13px;
  flex-flow: column wrap;
}

.container-opcao input {
  margin-bottom: 8px;
}

footer {
  background-color: black;
  text-align: center;
  color: white;
  padding: 10px;
}
